 <div class="sidebar-footer">
  <%= link_to(root_path, title: "Back", "data-toggle": "tooltip", "data-placement": "top") do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  <%= link_to("#") do %>
    <i class="fa fa-envelope"></i>
    <span class="badge badge-pill badge-success notification"></span>
  <% end %>
  <%= link_to(edit_user_path(current_user),
    title: "Edit profile", "data-toggle": "tooltip", "data-placement": "top", remote: true) do %>
    <i class="fa fa-cog"></i>
  <% end %>
  <%= link_to(logout_path, method: :delete, title: "Logout", "data-toggle": "tooltip", "data-placement": "top") do %>
    <i class="fa fa-power-off"></i>
  <% end %>
</div>
