<div class= "modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="edit-user"  >
  <div class="modal-dialog">
    <div id='content-edit-user' class='modal-content'>
    </div>
  </div>
</div>
