<div class="content">
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
      <% if logged_in? %>
        <%= link_to "New Topic", new_user_post_path(current_user), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="card-body">
      <table class="table table-hover table-striped">
        <thead>
          <th>Topic</th>
          <th>image</th>
          <th>Replies</th>
          <th>Views</th>
          <th>Activity</th>
        </thead>
        <tbody>
          <%= render partial: "post", collection: @posts %>
        </tbody>
      </table>
    </div>
  </div>
</div>
