@import 'bootstrap';
@import 'font-awesome';
@import 'flag-icon';

.container{
  max-width: 1000px;
}

/* ----------------------------
header
---------------------------- */
.navbar{
  border-bottom: 1px solid rgba(0,0,0,.0975);
  height: 50px;
}

.user-section{
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li{
    display: block;
    float: left;
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
  }
  i.fa{
    font-size: 22px;
    color: #000000d4;
  }
}

.prev{
  padding: inherit;
}

.search-form{
  input{
    font-size: 13px;
    text-align: center;
  }
}

/* ----------------------------
footer
---------------------------- */
.footer{
  font-size: 12px;
  padding-top: 30px;
  border-top: 1px solid rgba(0,0,0,.0975);

  ul{
    padding-left: 0px;
    > li{
      display: inline;
      padding-right: 15px;
      color: #003569;
    }
  }
  p{
    color: #999;
  }
}

img.avatar-users {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.avatar-signup{
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

input#user_avatar {
  padding: 3px;
}

/* ----------------------------
    form-sign up
---------------------------- */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signupbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width:100%;
  opacity: 0.9;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
  width: 100%;
 }
}

/* ----------------------------
    form log-in
---------------------------- */
button:hover {
  opacity: 0.8;
}

.loginbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

span.psw {
  float: right;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
  display: block;
  float: none;
 }
}

/* ----------------------------
    password-reset
---------------------------- */
.col-md-6.col-md-offset-3.btn-reset {
  padding: 13px 0px;
  margin: 15px 260px;
}

.sub{
  width: 100%;
}

.sub-reset{
  padding: 26px 0px;
}

#forgot{
  padding: 0 334px 0 334px
}

.custom-admin{
  padding: 8px;
}

#img{
  padding: 3px;
}

/*form posts*/
.control-label{
  color: black;
  font-weight: bold;
}
.ck.ck-content {
  height: 250px;
}

/**background span categories**/
.badge-category-bg {
  flex: 0 0 auto;
  width: 9px;
  height: 9px;
  margin-right: 5px;
  display: inline-block;
}

/**show post**/
.link-top-line>a{
  font-size: 20px;
  color: black;
}
.link-top-line>a:hover {
  text-decoration: none;
}
span.category-name:hover {
  text-decoration: none;
}
span.category-name {
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.badge-activity {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 9px;
  height: 9px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 10px;
}
img.image-small {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
.topic-map-cols {
  color: #808080;
}
.topic-cols>a{
  color: #808080;
}
.topic-cols>a:hover {
  text-decoration: none;
  color: #808080;
}
.topic-comment-rigth {
  background: #DC143C;
  border-radius: 20px;
  color: #F8F8FF;
  margin-bottom: 10px;
}
.image-comment {
  float: right;
}
.row {
  margin-right: 0px!important;
}
.topic-comment {
  margin-top: 10px;
}
.topic-avatar {
  margin-bottom: 10px;
}

/******Main content show post*******/
main.container {
  margin-top: 20px;
  background: #FFF8DC;
}
.regular.contents {
  background: #AFEEEE;
  border-bottom: 1px solid #696969;
}
.regular.contents>p {
  padding: 10px 10px;
}
.image_circle img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
img.image_circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
#topic-title {
  border-bottom: 1px solid #696969;
}
.time-post {
  margin-left: 65%;
  color: #2F4F4F;
}
.topic-map {
  padding: 10px;
}
.submit_button {
  padding: 10px;
}

/****Paginate kaminari***/
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}
