<footer class="container footer">
  <nav class="navbar d-flex">
    <ul>
      <li><a href="" title=""></a>ABOUT US</li>
      <li><a href="" title=""></a>SUPPORT</li>
      <li><a href="" title=""></a>PRESS</li>
      <li><a href="" title=""></a>API</li>
      <li><a href="" title=""></a>JOBS</li>
      <li><a href="" title=""></a>PRIVACY</li>
      <li><a href="" title=""></a>TERMS</li>
      <li><a href="" title=""></a>DIRECTORY</li>
      <li><a href="" title=""></a>PROFILES</li>
      <li><a href="" title=""></a>HASHTAGS</li>
      <li><a href="" title=""></a>LANGUAGE</li>
    </ul>
    <P>@ 2019 AVENGERS</P>
  </nav>
</footer>
