<!--Navigation Bar-->
<nav class="navbar navbar-light bg-light d-flex">
  <div class="container">
    <div class="logo">
      <a class="navbar-brand" href="/">
        <%= fa_stacked_icon "apple inverse", base: "circle"%>
        Avengers
      </a>
    </div>
    <div class="m-auto">
      <form class="form-inline search-form">
        <input class="form-control mr-sm-2" type="search" aria-label="Search">
        <i class="fa fa-search"></i>
      </form>
    </div>
    <% if logged_in? %>
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= image_tag "noavatar.png", class: "circle-image" %>
          <span class="caret"></span></button>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Logout", logout_path, method: :delete %>
          </li>
        </ul>
      </div>
    <% else %>
      <div>
        <%= link_to "Login", login_path, class: "btn btn-primary modal-login" %>
      </div>
    <% end %>
    <div class="user-section">
      <a><i class="fa fa-heart"></i></a>
        <a href="#" title="">
          <i class="fa fa-user"></i>
        </a>
        <a href="#" title="">
          <i class="fa fa-sign-in"></i>
        </a>
    </div>
  </div>
</nav>
