<!--Navigation Bar-->
<nav class="navbar navbar-light bg-light d-flex">
  <div class="container">
    <div class="logo">
      <%= link_to("#", class: "navbar-brand") do %>
        <%= fa_stacked_icon "apple inverse", base: "circle"%>
        Avengers
      <% end %>
    </div>
    <div class="m-auto">
      <form class="form-inline search-form">
        <input class="form-control mr-sm-2" type="search" aria-label="Search">
        <i class="fa fa-search"></i>
      </form>
    </div>
    <div class="user-section">
      <a><i class="fa fa-heart"></i></a>
        <%= link_to("#") do %>
          <i class="fa fa-user"></i>
        <% end %>
        <%= link_to("#") do %>
          <i class="fa fa-sign-in"></i>
        <% end %>
    </div>
  </div>
</nav>
