<div class="sidebar-menu">
  <ul>
    <li class="header-menu">
      <a href="#">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="header-menu">
      <span>Manager</span>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-user-circle"></i>
        <span>User</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a href="#">All users
            </a>
          </li>
          <li>
            <a href="#">New user</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-list"></i>
        <span>Category</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a href="#">All categories
            </a>
          </li>
          <li>
            <a href="#">New category</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-commenting-o"></i>
        <span>Post</span>
        <span class="badge badge-pill badge-primary">New</span>
      </a>
    </li>
    <li class="sidebar-dropdown">
      <a href="#">
        <i class="fa fa-hashtag"></i>
        <span>Tags</span>
      </a>
      <div class="sidebar-submenu">
        <ul>
          <li>
            <a href="#">All tags</a>
          </li>
          <li>
            <a href="#">New tag</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
